.profile__add-button{
    background-color: #000000;
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-image: url('../../../images/add_btn.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.profile__add-button:hover{
    opacity: 0.6;
    cursor: pointer;
}
@media screen and (max-width: 1024px){
    .profile__add-button{
        margin-top: 20px;
    }
}
@media screen and (max-width: 320px){
    .profile__add-button{
        margin-top: 0;
        min-width: 100%;
        background-size: 16px 16px;
    }
}