.card__basket{
 background: 0;
 background-image: url(../../../images/Trash.svg);
 background-position: center;
 background-size: contain;
 background-repeat: no-repeat;
 border: none;
 width: 18px;
 height: 19px;
 position: absolute;
 right: 20px;
 top: 20px;
}
.card__basket:hover{
    opacity: 0.6;
    cursor: pointer;
}